<div class="flex justify-center items-center h-screen bg-purple-300">
    <!-- Centered content -->
    <div class="grid grid-cols-2 gap-20 justify-center items-center w-2/4 bg-white px-16 py-10 rounded-lg">
        <div class=" flex-col">
            <img src="https://www.automateazy.com/assets/images/logo.svg" alt="Logo" class="mb-4">
            <img src="https://pw.automateazy.com/assets/images/features-img.png" alt="girl-Logo" class="mb-4">
        </div>
        <div class="text-[12px] font-bold">
            <h1 class="font-bold text-black text-lg text-center m-8">Login to your account</h1>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div>
                    <h4>Email</h4>
                    <input formControlName="email" type="email" class="border border-gray-300 w-full h-10 rounded-xl my-1 mb-4" />
                    <!-- Email error messages -->
                    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-red-500 text-xs">
                        <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</div>
                        <div *ngIf="loginForm.get('email')?.errors?.['email']">Enter a valid email address.</div>
                    </div>
                </div>
                <div>
                    <h4>Password</h4>
                    <input formControlName="password" type="password" class="border border-gray-300 w-full h-10 rounded-xl my-1" />
                    <!-- Password error messages -->
                    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-red-500 text-xs">
                        <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</div>
                        <div *ngIf="loginForm.get('password')?.errors?.['minlength']">
                            Password must be at least 6 characters long.
                        </div>
                    </div>
                </div>
                <h1 class="font-normal text-purple-800 ml-40">Forgot Password</h1>
                <button type="submit" class="border border-purple-800 bg-purple-800 w-20 h-10 rounded-full text-white my-5">
                    Login
                </button>
            </form>
            <div *ngIf="loginError" class="text-red-500 text-xs mt-4">
                Incorrect email or password.
            </div>
        </div>
    </div>
</div>

