<!-- Full-screen parent container -->
<div class="flex justify-center items-center h-screen bg-purple-300">
    <!-- Centered content -->
    <div class="grid grid-cols-2 gap-4 justify-center items-center w-2/4 bg-white px-16 py-10 rounded-lg">
        <div class="flex justify-center items-center flex-col">
            <img src="https://www.automateazy.com/assets/images/logo.svg" alt="Logo" class="mb-4">
            <img src="https://pw.automateazy.com/assets/images/features-img.png" alt="girl-Logo" class="mb-4">
        </div>
        <div class="text-[12px] font-bold">
            <h1 class="font-bold text-black text-xl text-center m-8">Login to your account</h1>
            <h4>Email</h4>
            <input class="border border-gray-300 w-full h-10 rounded-xl my-1 mb-4" />
            <h4>Password</h4>
            <input class="border border-gray-300 w-full h-10 rounded-xl my-1" />
            <h1 class="font-normal text-purple-800 ml-48">Forgot Password</h1>
            <button class="border border-purple-800 bg-purple-800 w-20  h-10 rounded-full text-white my-5">Login</button>
        </div>
    </div>
</div>